#container {
  text-align: center;
}

#tokens {
  text-align: left;

  p {
    font-weight: bold;
  }

  input {
    width: 100%;
  }

}

#userprofile {
  text-align: left;
}

#identity-claims {
  text-align: left;
}

code {
  font-family: Consolas, "courier new";
  color: crimson;
  background-color: #f1f1f1;
  padding: 2px;
  font-size: 105%;
}
